<mat-card class="margin mat-elevation-z3">
  <mat-card-title class="title">
    <button mat-raised-button (click)="navigateToProfessionalCreate()">
      Cadastro de Profissionais
    </button>
  </mat-card-title>
  <mat-card-subtitle class="subtitle">
    <button mat-raised-button (click)="navigateToProfessionalCreate()">
      Cadastro de Gestores
    </button>
  </mat-card-subtitle>
  <mat-card-subtitle class="subtitle">
    <button mat-raised-button (click)="navigateToProfessionalCreate()">
      Cadastro de Usuários Exclusivos
    </button>
  </mat-card-subtitle>
</mat-card>
